{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/reservations.css' %}">

<div class="reservations-container">
  <h1>All Reservations</h1>

  {% if user.is_superuser %}
  <a href="{% url 'restaurant:add_reservation' %}">Add Reservation</a> <br>
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Guests</th>

        {% if user.is_superuser %}
        <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.name }}</td>
        <td>{{ reservation.email }}</td>
        <td>{{ reservation.phone }}</td>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.num_people }}</td>
        {% if user.is_superuser %}
        <td>
          <a href="{% url 'restaurant:admin_edit_reservation' reservation.pk %}">Edit</a>
          <a href="{% url 'restaurant:admin_delete_reservation' reservation.pk %}">Delete</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="reservation-list">
    {% for reservation in reservations %}
    <div class="reservation-item">
      <div>Name: {{ reservation.name }}</div>
      <div>Email: {{ reservation.email }}</div>
      <div>Phone: {{ reservation.phone }}</div>
      <div>Date: {{ reservation.date }}</div>
      <div>Time: {{ reservation.time }}</div>
      <div>Guests: {{ reservation.num_people }}</div>
      {% if user.is_superuser %}
      <div class="actions">
        <a href="{% url 'restaurant:admin_edit_reservation' reservation.pk %}">Edit</a>
        <a href="{% url 'restaurant:admin_delete_reservation' reservation.pk %}">Delete</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

{% block footer %}{% endblock %}
{% endblock content %}