{% extends 'base.html' %} 
{% load static %}

{% block content %}

<div class="hero-image">  {# Hero section with image and text #}
  <div class="hero-text">
    <h1>Welcome to Restaurant Ammersee</h1>
    <div class="hero-buttons">  {# Buttons for menu and booking #}
      <a href="{% url 'restaurant:menu' %}" class="btn btn-primary">Our Menu</a>
      {% if user.is_authenticated %}  {# Show "Book a table" link if user is logged in #}
      <a href="{% url 'restaurant:make_reservation' %}" class="btn btn-secondary">Book a table</a>
      {% else %}  {# Show "Book a table" link that leads to login if user is not logged in #}
      <a href="{% url 'account_login' %}" class="btn btn-secondary">Book a table</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="our-story">  {# Section about the restaurant's story #}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Our Story</h2>
        <p>The year is 1953. A young couple, newly married and brimming with dreams, open the doors to a quaint little
          restaurant on the shores of the Ammersee. They pour their hearts and souls into their venture, using cherished
          family recipes passed down through generations to create a menu that is both comforting and unique. Word of
          their delicious food and warm hospitality spreads, and soon, the restaurant becomes a beloved local
          institution.</p>
        <p>Our menu is a tribute to both tradition and the bounty of our region. Savor classic German dishes, crafted
          with fresh, local ingredients, and discover new favorites that showcase our chef's creativity. Complement your
          meal with a selection from our thoughtfully curated wine list, featuring both local and international gems.
        </p>
        <p>More than just a restaurant, we offer a warm and inviting haven where you can celebrate life's milestones,
          enjoy an intimate dinner, or simply unwind with loved ones. Come experience the charm, the breathtaking views,
          and the enduring passion for good food and hospitality that have defined us for over 70 years.</p>
      </div>
    </div>
  </div>
</div>

<div id="registration-message" style="display: none;"></div>  {# Hidden div for registration message #}

<script>  // JavaScript to display registration message 
  const registrationMessage = document.getElementById('registration-message');
  if ('{{ registration_successful }}' === 'True') {
    registrationMessage.textContent = 'registration_successful'; 
  }
</script>

<script type="module" src="{% static 'js/email.js' %}" defer></script>

{% endblock %}