{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/reservations.css' %}">
<div class="container"> 
    <form method="post" class="form" id="reservation-form">  
        <h1>Reserve Your Table</h1> 
        {% csrf_token %}

        <p>
            {{ form.name.label_tag }}
            {{ form.name }}
        </p>

        <p>
            {{ form.email.label_tag }}
            {{ form.email }} 
          </p>

        <p>
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </p>

        <p>
            {{ form.date.label_tag }}
            {{ form.date }}
        </p>

        <p>
            {{ form.time.label_tag }}
            {{ form.time }}
        </p>

        <p>
            {{ form.num_people.label_tag }}
            {{ form.num_people }}
        </p>

        <input type="hidden" id="tomorrow" value="{% now 'Y-m-d' %}" /> 
        <script>
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            document.getElementById("id_date").min = tomorrow.toISOString().split('T')[0];
        </script>
        <button type="submit">Reserve</button>
    </form> 
</div>
<script type="module" src="{% static 'js/reservation.js' %}"></script>
{% endblock %}