html, body {
  width: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.spaced-paragraph {
  margin-top: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f8f9fa;
}

nav.navbar .navbar-brand img {
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

#hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: -50px; 
}

#hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  padding: 20px;
  z-index: 10;
  line-height: 1.5;
  top: 200px;
  bottom: auto;
}

.carousel-caption h3, 
.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

#hero .slide-options {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center; 
  width: 100%;
  z-index: 10;
}

.slide-options a {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.btn {
  font-size: 1.2rem;
  padding: 15px 30px;
}

.btn:hover {
  filter: brightness(0.8) contrast(1.1);
}

#about {
  padding: 80px 0;
  text-align: center;
}

#about p {
  margin-bottom: 20px;
  font-size: 20px;
}


.login-form, .signup-form {
  background-color: #fff; 
  padding: 30px 40px; 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 660px;
  font-size: 16px;
  margin: auto; 
  overflow: auto;
}

.login-form div, .signup-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form h1, .signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.login-form label, .signup-form label {
  display: block;
  margin-bottom: 5px;
  width: auto;
}

.login-form input, .signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form button, .signup-form button {
  background-color: #3498db; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.errorlist { 
  color: red;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.signup-form .errorlist {
  font-size: 14px;
}


footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 40px 0;
  line-height: 2;
  margin-top: auto;
}

footer .social-icon {
  color: black;
  font-size: 1rem;
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 20px;
}

footer .h3 {
  margin-bottom: 15px;
  font-size: 25px;
}



#menu-container {
  text-align: center;
  padding-top: 100px; 
  display: flex;
  flex-direction: column; 
}

#menu-container h2, #menu-container p, #menu-container a {
  margin-bottom: 20px; 
}

#dishes-container, #drinks-container {
  display: block;
  align-items: center; 
  width: 100%;
}

/*.category-item { 
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
} */


.category-item { 
  align-items: center;  
  width: 100%;
  margin-bottom: 20px;
}

.category-item > h3 {  
  width: 100%;         
  text-align: center; 
}

.menu-column {
  width: 40%;
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
}


.menu-item {
  margin-bottom: 20px;
  text-align: center;
}

.menu-item h4, .menu-item p {
  text-align: center;
}



@media (max-width: 768px) {
  #hero img {
    height: 300px; 
  }

  #hero .slide-options {
    bottom: 20px;
  }

  .btn {
    font-size: 1rem;
    padding: 15px 30px;
  }

  .carousel-caption {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
  }

  .carousel-caption h3, 
  .carousel-caption p {
    display: none;
  }

  .slide-options {
    display: none;
  }

  #about {
    padding: 20px;
  }

  #about h2 {
    font-size: 2em;
  }

  #about p {
    font-size: 16px;
  }

  .login-form, .signup-form {
    width: 90%;
    height: auto;
  }

  footer {
    font-size: 16px;
  }

  footer .col-md-4 {
    margin-bottom: 20px;
  }

  footer .h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}