html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 50px;
}

/* -------------------- */
/*  General Styles     */
/* -------------------- */

.hero-image {
  background-image: url("/static/images/cover5.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white; 
}

.hero-text {
  position: relative; 
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons .btn {
  margin: 0 10px; 
}

.btn-primary {
  background-color: beige;
  color: black;
  border: 1px solid black;
}

.btn-secondary {
  background-color: black;
  color: beige;
  border: 1px solid beige;
}

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center; 
  font-size: 20px;
}

.our-story h2 {
  text-align: center;
  font-size: 36px;
}

/* -------------------- */
/*  About Section       */
/* -------------------- */

#about {
  padding: 80px 0;
  text-align: center;
}

#about p {
  margin-bottom: 20px;
  font-size: 20px;
}

/* -------------------- */
/*  Forms               */
/* -------------------- */

.login-form,
.signup-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 660px;
  font-size: 16px;
  margin: auto;
  overflow: auto;
}

.login-form div,
.signup-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form h1,
.signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.login-form label,
.signup-form label {
  display: block;
  margin-bottom: 5px;
  width: auto;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form button,
.signup-form button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.optional {
  font-size: smaller;
  color: gray;
}

.signup-form .errorlist {
  font-size: 14px;
}

/* -------------------- */
/*  Footer               */
/* -------------------- */

footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 40px 0;
  line-height: 2;
}

footer .social-icon {
  color: black;
  font-size: 1rem;
  margin: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 20px;
}

footer .h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

/* -------------------- */
/*  Menu                 */
/* -------------------- */

#menu-container {
  text-align: center;
}

.category-item {
  margin-bottom: 40px;
}

.category-heading {
  margin-bottom: 10px;
}

.category-separator {
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid #ccc;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}

/* -------------------- */
/*  Media Queries       */
/* -------------------- */

@media (max-width: 768px) {
  #hero img {
    height: 300px;
  }


  .btn {
    font-size: 1rem;
    padding: 15px 30px;
  }

  .carousel-caption {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
  }

  .carousel-caption h3,
  .carousel-caption p {
    display: none;
  }



  #about {
    padding: 20px;
  }

  #about h2 {
    font-size: 2em;
  }

  #about p {
    font-size: 16px;
  }

  .login-form,
  .signup-form {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
  }

  footer {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer a {
    margin-bottom: 10px;
  }

  footer .col-md-4 {
    margin-bottom: 20px;
  }

  footer .h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}