/* -------------------- */
/* General Styles */
/* -------------------- */

html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 0;
}

/* -------------------- */
/* Navigation */
/* -------------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #f8f9fa;
}

.navbar-brand {
  margin-right: auto;
  display: flex;
  align-items: center;
}

nav.navbar .navbar-brand img {
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.navbar .container {
  margin-left: 0;
}

/* -------------------- */
/* Hero Section */
/* -------------------- */

.hero-image {
  background-image: url("/static/images/cover5.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-text {
  position: relative;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-buttons .btn {
  margin: 0 10px;
}

/* -------------------- */
/* Buttons */
/* -------------------- */

.btn {
  font-size: 1.2rem;
  padding: 15px 30px;
}

.btn:hover {
  filter: brightness(0.8) contrast(1.1);
}

.btn-primary {
  background-color: beige;
  color: black;
  border: 1px solid black;
}

.btn-primary:hover {
  filter: brightness(0.8) contrast(1.1);
}

.btn-secondary {
  background-color: black;
  color: beige;
  border: 1px solid beige;
}

/* -------------------- */
/* Our Story Section */
/* -------------------- */

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  font-size: 20px;
  color: black;
}

.our-story h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

/* -------------------- */
/* Content Wrapper */
/* -------------------- */

.content-wrapper {
  flex: 1;
  margin-top: 70px;
}

.spaced-paragraph {
  margin-top: 20px;
}

/* -------------------- */
/* Forms */
/* -------------------- */

.login-form,
.signup-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 660px;
  font-size: 16px;
  margin: auto;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}



.login-form div,
.signup-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form h1,
.signup-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.login-form label,
.signup-form label {
  display: block;
  margin-bottom: 5px;
  width: auto;
}

.login-form input,
.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form button,
.signup-form button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.optional {
  font-size: smaller;
  color: gray;
}

.signup-form .errorlist {
  font-size: 14px;
}

.errorlist {
  color: red;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

/* -------------------- */
/* Footer */
/* -------------------- */

footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 40px 0;
  line-height: 2;
}

footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 20px;
}

footer .h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

/* -------------------- */
/* Menu */
/* -------------------- */

#menu-container {
  text-align: center;
  background-image: url("/static/images/cover4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.menu-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: beige;
  margin-top: 60px;
}

.menu-header {
  margin-bottom: 50px;
  padding-top: 30px;
}

.menu-header h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 36px;
  color: rgb(212, 212, 135);
}

.menu-header p {
  font-style: italic;
}

.btn-secondary {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  background-color: beige;
  color: black;
  border: 1px solid gold;
}

.category-heading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(212, 212, 135);
}

.category-separator {
  width: 50px;
  margin: 0 auto 20px auto;
  border: none;
  border-top: 1px solid beige;
}

.menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  text-align: center;
  margin-bottom: 30px;
}

.menu-item h4,
.menu-item p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.menu-item p:last-of-type { 
  font-weight: bold
}

.col-md-6 {
  width: 50%;
}

.category-item {
  margin-top: 50px;
  border: 1px solid beige; 
  padding: 20px; 
}

/* -------------------- */
/* Media Queries */
/* -------------------- */

@media (max-width: 768px) {

  #hero img {
    height: 300px;
  }

  .btn {
    font-size: 1rem;
    padding: 15px 30px;
  }

  .carousel-caption {
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
  }

  .carousel-caption h3,
  .carousel-caption p {
    display: none;
  }

  #about {
    padding: 20px;
  }

  #about h2 {
    font-size: 2em;
  }

  #about p {
    font-size: 16px;
  }

  .login-form,
  .signup-form {
    width: 90%;
    height: auto;
    margin-bottom: 50px;
  }

  footer {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer a {
    margin-bottom: 10px;
  }

  footer .col-md-4 {
    margin-bottom: 20px;
  }

  footer .h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .hero-image {
    min-height: 50vh;
  }

  .our-story {
    font-size: 16px;
  }

  .menu-item h4, 
  .menu-item p { 
    font-size: 20px; 
  }
}