{% load static %}

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center text-md-left"> 
        <h1 class="h3">Explore Our World</h1>
        <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Facebook - Opens in new tab">
          <i class="fa-brands fa-facebook-f fa-2xl"></i> 
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
          <i class="fa-brands fa-instagram fa-2xl"></i> 
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="YouTube - Opens in new tab">
          <i class="fa-brands fa-youtube fa-2xl"></i> 
        </a>
      </div>
      <div class="col-md-4 text-center text-md-left">
        <h1 class="h3">Address</h1>
        <p>Restaurant Ammersee <br>
          Eduard-Thöny-Straße 19 <br> 
          86919 Utting am Ammersee 
        </p>
      </div>
      <div class="col-md-4 text-center text-md-left">
        <h1 class="h3">Contact</h1>
        <p>
          <small>
            <a href="https://www.google.com/maps/place/Eduard-Th%C3%B6ny-Stra%C3%9Fe+19,+86919+Utting+am+Ammersee/@48.0199429,11.092887,17z/data=!3m1!4b1!4m6!3m5!1s0x479c320877eee1c9:0xe54cba96f98d94ed!8m2!3d48.0199393!4d11.0954619!16s%2Fg%2F11gmfxdmp1?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener" aria-label="Map - Opens in new tab">
              <i class="fa-solid fa-map-location-dot"></i>
            </a>
            <br>
            <a href="tel:+[Your Phone Number]" target="_blank" rel="noopener" aria-label="Phone - Opens in new tab">
              <i class="fa-solid fa-phone-volume"></i>
              0645823654
            </a>
            <br>
            <a href="mailto:[Your Email Address]" target="_blank" rel="noopener" aria-label="Email - Opens in new tab">
              <i class="fa-solid fa-envelope"></i>
              restaurantameersee@ghx.de
            </a>
          </small>
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-12 text-center text-md-right text-muted"> 
        <p>Copyright © 2023 Restaurant Ammersee. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>