{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="Restaurant Ammersee Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page"
            href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/menu/' %}active{% endif %}"
            href="{% url 'restaurant:menu' %}">Menu</a>
        </li>
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'restaurant:admin_reservations' %}">RESERVATIONS</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/make/' %}active{% endif %}"
            href="{% url 'restaurant:make_reservation' %}">Reserve a table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/my_reservations/' %}active{% endif %}"
            href="{% url 'restaurant:my_reservations' %}">My reservations</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}" onclick="location.reload();">Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}"
            href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}"
            href="{% url 'account_login' %}">Log in</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>