{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post" class="login-form"> {# Login form #}
  {% csrf_token %}
  <h1>Login</h1>

  {% if form.errors %} {# Display error messages #}
  <p style="color: red; text-align: center;">Invalid username or password.</p>
  {% endif %}

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
  <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up here</a></p>
</form>
{% endblock %}