{% extends 'base.html' %}

{% block content %}
  <form method="post" action="{% url 'account_signup' %}" class="signup-form" onsubmit="sendEmail(event)"> 
    <h1>Sign Up</h1> 
    {% csrf_token %}
    {{ form.as_p }}  

    <button type="submit">Sign Up</button> 
    <p>Already have an account? <a href="{% url 'account_login' %}">Log in</a></p> 
  </form>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script> 
  <script type="text/javascript">
    (function(){
      emailjs.init({
        publicKey: "JtEjZpi5gTulnaLfS", 
      });
    })();

    function sendEmail(e) {
    e.preventDefault(); 

    const formData = new FormData(e.target);
    const templateParams = {
        to_email: formData.get('email'), 
        username: formData.get('username') 
    };

    emailjs.send('service_ab2vrqc', 'template_oo7qvf5', templateParams) 
        .then((result) => {
            console.log(result.text);
            e.target.submit(); 
        }, (error) => {
            console.log(error.text);
        });
}
  </script>
{% endblock %}