.content.wrapper {
  background-image:url("{% static 'images/background.png' %}");
  background-size: cover;
  background-repeat: no-repeat;
}

#reservation-form {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 60%;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

#reservation-form h1 {
  font-size: 24px;
  margin: 20px 0 50px 0;
}

#reservation-form p {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

#reservation-form label {
  text-align: center;
}

#reservation-form input,
#reservation-form select {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}

#reservation-form button {
  background-color: beige;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #reservation-form {
    width: 90%;
  }

  #reservation-form p {
    grid-template-columns: 1fr;
  }

  #reservation-form label {
    text-align: left;
  }
}