/* General Styles */

* {
  margin: 0; 
}

html,
body {
  height: 100%; 
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex; 
  flex-direction: column; 
}

/* Typography */

.spaced-paragraph {
  margin-top: 20px;
}

/* Form Styles */

.form-control[type="date"]::-webkit-calendar-picker-indicator {
  color: gray; 
}

.form-control[type="date"]::-webkit-inner-spin-button {
  display: none; 
}

.form-control[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer; 
}

input[type="date"]::-webkit-calendar-picker-indicator { 
  opacity: 0.5; 
}

input[type="date"]:invalid { 
  color: red !important; 
}

input[type="date"]:valid { 
  color: green !important; 
}

/* Navbar Styles */

.navbar { 
  z-index: 10; 
}

nav.navbar .navbar-brand img { 
  max-height: 50px;
  width: auto; 
  object-fit: contain;
}

/* Carousel Styles */

#imageSlider .carousel-inner {
  width: 100vw; 
  position: relative; 
  left: 50%; 
  right: 50%; 
  margin-left: -50vw; 
  margin-right: -50vw; 
  top: -56px;
}

#imageSlider .carousel-item img {
  width: 100%; 
  height: calc(100vh - 56px); 
  object-fit: cover; 
  object-position: 50% 20%; 
}

#imageSlider .carousel-item:first-child img { 
  object-position: 50% 50%; 
}

#imageSlider .carousel-item:nth-child(3) img {
  object-position: 50% 30%; 
}

#imageSlider .carousel-item:nth-child(3) .carousel-caption{  
  text-align: center;
  bottom: 10%;
}  

#imageSlider .carousel-item:nth-child(3) .carousel-caption h5 {  
  font-size: 2rem;  
  font-weight: 500;
  white-space: nowrap; 
}

#imageSlider .carousel-item:nth-child(3) .carousel-caption .slide-options {
  margin-top: 20px;    
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3); 
}

.carousel-caption h5, 
.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-weight: 600; 
}

#imageSlider .carousel-item:first-child .carousel-caption {
  top: 15%; 
  bottom: auto; 
}

#imageSlider .carousel-item:nth-child(2) .carousel-caption { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


@media (max-width: 768px) {
  #imageSlider .carousel-item img {
    height: 300px;  
  }
}

/* Button Styles */

.slide-options {
  margin-top: 20px; 
}

.slide-options a {
  margin-right: 10px; 
}

.menu-button {
  background-color: black;
}

.slide-options a:hover {
  filter: brightness(0.5); 
}
