* {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.spaced-paragraph {
  margin-top: 20px;
}

.form-control[type="date"]::-webkit-calendar-picker-indicator {
  color: gray;
}

.form-control[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.form-control[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
}

input[type="date"]:invalid {
  color: red !important;
}

input[type="date"]:valid {
  color: green !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #f8f9fa;
}

nav.navbar .navbar-brand img {
  max-height: 50px;
  width: auto;
  object-fit: contain;
}

#hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#imageSlider .carousel-inner {
  width: 100%;
  position: relative;
}

#imageSlider .carousel-item {
  position: relative;
}

#imageSlider .carousel-item img {
  width: 100%;
  height: 100vh; 
  object-fit: cover;
  object-position: 50% 20%;
}

#imageSlider .carousel-item:first-child img {
  object-position: 50% 50%;
}

.carousel-control-prev, 
.carousel-control-next {
  display: none; 
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  padding: 20px;
  z-index: 10;
  line-height: 1.5;
  bottom: 20px; 
}

.carousel-caption h3,
.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

.slide-options {
  margin-top: 20px;
}

.slide-options a {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.btn:hover {
  filter: brightness(0.8) contrast(1.1);
}

#about {
  padding: 80px 0;
  text-align: center;
}

#menu {
  padding: 80px 0;
  text-align: center;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu li {
  margin-bottom: 10px;
}

#imageSlider {
  position: relative;
  z-index: 1;
}

.content-wrapper {
  overflow-y: auto;
  width: 100%;
}

@media (max-width: 768px) {

  #imageSlider .carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .carousel-caption {
    width: 90%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
  }

  .carousel-caption h3,
  .carousel-caption p {
    display: none;
  }

  .slide-options {
    display: none;
  }

  .carousel-caption .slide-options a { 
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}