/* General Styles */

* {
  margin: 0; 
}

html,
body {
  height: 100%; 
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column; 
}

/* Typography */

.spaced-paragraph {
  margin-top: 20px;
}

/* Form Styles */

.form-control[type="date"]::-webkit-calendar-picker-indicator {
  color: gray; 
}

.form-control[type="date"]::-webkit-inner-spin-button {
  display: none; 
}

.form-control[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer; 
}

input[type="date"]::-webkit-calendar-picker-indicator { 
  opacity: 0.5; 
}

input[type="date"]:invalid { 
  color: red !important; 
}

input[type="date"]:valid { 
  color: green !important; 
}

/* Navbar Styles */

.navbar { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  background-color: #f8f9fa; 
}

nav.navbar .navbar-brand img { 
  max-height: 50px;
  width: auto; 
  object-fit: contain;
}

/* Carousel Styles */

#imageSlider .carousel-inner {
  width: 100%;  
  position: relative;
  top: 0; 
  margin-top: 56px; 
}

#imageSlider .carousel-item img {
  width: 100%; 
  max-height: calc(100vh - 56px); 
  object-fit: cover; 
  object-position: 50% 20%; 
}

#imageSlider .carousel-item:first-child img { 
  object-position: 50% 50%; 
}

#imageSlider .carousel-item:nth-child(3) img {
  object-position: 50% 30%; 
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.3); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;   
  z-index: 10;  
}

.carousel-caption h5, 
.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-weight: 600; 
}

@media (max-width: 768px) { 
  #imageSlider .carousel-item img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
  }
  .carousel-caption {
    width: 90%; 
    padding: 2px; 
    margin: 0;
    box-sizing: border-box;
  }
  
  .carousel-caption h3, .carousel-caption h5 {
    margin: 0;
    padding: 0;
  }

  .carousel-item:nth-child(1) .carousel-caption h3,
  .carousel-item:nth-child(1) .carousel-caption p {
    font-size: 18px; 
    line-height: 1.3; 
  }

  .carousel-item:nth-child(2) .carousel-caption h5,
  .carousel-item:nth-child(2) .carousel-caption p {
    font-size: 16px;  
    line-height: 1.2; 
  }

  .carousel-item:nth-child(3) .carousel-caption h5,
  .carousel-item:nth-child(3) .carousel-caption p {
    font-size: 14px;  
    line-height: 1.1; 
  }

  .slide-options {
    margin-top: 10px; 
  }

  .slide-options a {
    font-size: 14px; 
    padding: 8px 12px; 
    margin-right: 5px; 
  }
}

/* Button Styles */

.slide-options {
  margin-top: 20px; 
}

.slide-options a {
  margin-right: 10px; 
}

.menu-button {
  background-color: black;
}

.slide-options a:hover {
  filter: brightness(0.5); 
}


#imageSlider {
  position: relative; 
  z-index: 1; 
}

.content-wrapper { 
  overflow-y: auto;
  width: 100%; 
}

@media (min-width: 1200px) { 
  .container {
    max-width: 100%; 
  }
}